.container {
    padding: 30px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 940px) {
    .container {
        flex-direction: column;
    }
}

.textContent {
    max-width: 600px;
    width: 100%;
}


@media (max-width: 500px) {
    .textContent {
        max-width: 300px;
    }
}

.title {
    width: 430px;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2B2C34;
}

@media (max-width: 500px) {
    .title {
        font-size: 32px;
    }
}


.subtitle {
    border-left: 3px solid #2B2C34;
    padding-left: 5px;
    font-size: 20px;
    color: darkgrey;
}

.img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

@media (max-width: 500px) {
    .img {
        max-width: 200px;
    }
}