.container {
    padding: 30px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    text-align: left;
}

@media (max-width: 940px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
}

.textContent {
    max-width: 600px;
    width: 100%;
    padding: 10px;
}

@media (max-width: 700px) {
    .textContent {
        max-width: 90%;
    }
}

@media (max-width: 500px) {
    .textContent {
        max-width: 95%;
    }
}

.title {
    width: 100%;
    max-width: 430px;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2B2C34;
    line-height: 1.2;
}

@media (max-width: 700px) {
    .title {
        font-size: 42px;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 32px;
    }
}

.subtitle {
    border-left: 3px solid #2B2C34;
    padding-left: 10px;
    font-size: 20px;
    color: darkgrey;
    margin-bottom: 20px;
}

.img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
}

@media (max-width: 700px) {
    .img {
        max-width: 300px;
    }
}

@media (max-width: 500px) {
    .img {
        max-width: 200px;
    }
}