.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin: 30px auto;
}

.btn {
    padding: 12px 24px;
    background-color: #001858;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #005fa3;
}